@media only screen and (max-width: 480px) {


    body {
        background-image: url(background.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    header {
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 10px;
    }
    
    nav ul li {
        margin: 10px 0; 
    }
  /* --- Main Page Style Section --- */
    nav ul li a {
        font-size: 16px; 
        padding: 10px 20px; 
        text-align: center; 
        width: 100%; 
        box-sizing: border-box;
    }
    

    .main-page {
        display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 10px;
        margin: 0 auto;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .image {
        width: 80%; 
        margin-bottom: 20px; 
    }
    
    .main-text {
        width: 90%; 
        text-align: center; 
        font-size: 4vw;
    }
  /* --- END of Main Page Style Section --- */
  
  
  /* --- About Me Style Section --- */

    #about {
        padding: 20px; 
    }
    
    .AboutMe {
        width: 100%; 
        text-align: center; 
    }
    
    .vid {
        width: 100%; 
        margin-top: 20px; 
    }
/* --- END of About Me Style Section --- */


/* --- My Projects Style Section --- */
    #myprojects {
        margin: 10px 5%; 
        padding: 20px 0;
    }
    
    .project-container {
        flex-direction: column; 
        align-items: center;
    }
    
    .project img {
        width: 80%; 
        margin-bottom: 20px;
    }
    
    .p-comments {
        width: 90%; 
        text-align: center;
    }
 /* --- END of My Projects Style Section --- */



/* --- Contact Me Style Section --- */
   
    
    #ContactMe {
        padding: 20px; 
    }
    
    .contact-container {
        max-width: 300px; 
        margin: 0 auto;
        padding: 10px; 
    }
    
    .form input, .form textarea {
        width: 100%;
        padding: 8px; 
        font-size: 12px; 
    }
    
    .form button {
        padding: 8px; 
        font-size: 16px; 
    }

/* --- END of Contact Me Style Section --- */
    }




