/* Media Query for Tablets (481px - 960px) */
@media only screen and (min-width: 481px) and (max-width: 960px) {

body {
    background-image: url(background.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
}



}