<section id="about">
    <div class="about-container">
        <div class="AboutMe">
            <h1>About Me</h1>
            <p>
                I am currently a second-year student at the University of Ontario Tech, 
                majoring in Networking and IT Security. My passion for technology and 
                security has driven me to pursue a career in this wonderful field.
                <br><br>
                Before diving into the world of networking and security, I completed 
                an advanced diploma in Aviation Operations. I have always been fascinated 
                by systems that work behind the scenes, whether it is planes in the sky
                or cybersecurity. The aviation world taught me precision, quick 
                thinking, and how to keep cool when things get turbulent.
                <br><br>
                In addition to my academic interests, I also enjoy working on my car and
                making modifications. I take pride in keeping my car well-maintained, handling 
                all of the maintenance myself. It’s a hobby that allows me to be hands-on, and 
                I love seeing the improvements I can make. Here is a small clip of me spending time
                with my car.
            </p>
        </div>
        <div class="vid">
            <video src="/videos/MyVideo.mp4" controls muted loop poster="/images/car.jpg"></video>
        </div>
    </div>
</section>
