<div class="main-page">
    <img src="/images/main.jpg" class="image" height="220" width="220">
    <div class="main-text">
        <h1><span>Welcome</span>, To My Portfolio!</h1>
        <p>Feel Free to Click Around and Explore</p>
    </div>
</div>
