<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/desktop-style.css" media="(min-width: 960px)">
    <link rel="stylesheet" href="/stylesheets/tablet-style.css" media="(min-width:481px) and (max-width:960px)">
    <link rel="stylesheet" href="/stylesheets/mobile-style.css" media="(max-width:480px)">
    <title><%= title %></title>
</head>
<body>
    <!-- Header Section -->
    <header>
        <a href="/" class="home">Abhinav Sivasakthi</a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main>
        <%- body %>
    </main>

    <!-- Footer Section -->
    <footer id="site-footer">
        <p>&copy; 2024 by Abhinav Sivasakthi. Contact at <a href="mailto:abhinav.sivasakthi@ontariotechu.net">abhinav.sivasakthi@ontariotechu.net</a></p>
        <p>
            <a href="https://github.com/NavvSiva/Web-Script-Programming" target="_blank">GitHub</a> |
            <a href="www.linkedin.com/in/abhinav-sivasakthi-85159b202" target="_blank">LinkedIn</a>
        </p>
    </footer>
</body>
</html>
